In [1]:
import random
import pandas as pd

In [2]:
df=pd.read_csv('cab_rides.csv')

In [3]:
df

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL
...,...,...,...,...,...,...,...,...,...,...
693066,1.00,Uber,1543708385534,North End,West End,13.0,1.0,616d3611-1820-450a-9845-a9ff304a4842,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL
693067,1.00,Uber,1543708385534,North End,West End,9.5,1.0,633a3fc3-1f86-4b9e-9d48-2b7132112341,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX
693068,1.00,Uber,1543708385534,North End,West End,NaN,1.0,64d451d0-639f-47a4-9b7c-6fd92fbd264f,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi
693069,1.00,Uber,1543708385534,North End,West End,27.0,1.0,727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV
693070,1.00,Uber,1543708385534,North End,West End,10.0,1.0,e7fdc087-fe86-40a5-a3c3-3b2a8badcbda,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 693071 entries, 0 to 693070
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   distance          693071 non-null  float64
 1   cab_type          693071 non-null  object
 2   time_stamp        693071 non-null  int64
 3   destination       693071 non-null  object
 4   source            693071 non-null  object
 5   price             637976 non-null  float64
 6   surge_multiplier  693071 non-null  float64
 7   id                693071 non-null  object
 8   product_id        693071 non-null  object
 9   name              693071 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 52.9+ MB

In [5]:
df.isna().sum()

distance                0
cab_type                0
time_stamp              0
destination             0
source                  0
price               55095
surge_multiplier        0
id                      0
product_id              0
name                    0
dtype: int64

In [6]:
df

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL
...,...,...,...,...,...,...,...,...,...,...
693066,1.00,Uber,1543708385534,North End,West End,13.0,1.0,616d3611-1820-450a-9845-a9ff304a4842,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL
693067,1.00,Uber,1543708385534,North End,West End,9.5,1.0,633a3fc3-1f86-4b9e-9d48-2b7132112341,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX
693068,1.00,Uber,1543708385534,North End,West End,NaN,1.0,64d451d0-639f-47a4-9b7c-6fd92fbd264f,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi
693069,1.00,Uber,1543708385534,North End,West End,27.0,1.0,727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV
693070,1.00,Uber,1543708385534,North End,West End,10.0,1.0,e7fdc087-fe86-40a5-a3c3-3b2a8badcbda,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool

In [7]:
print(df['destination'].unique())

['North Station' 'Northeastern University' 'West End' 'Haymarket Square'
 'South Station' 'Fenway' 'Theatre District' 'Beacon Hill' 'Back Bay'
 'North End' 'Financial District' 'Boston University']

In [8]:
for index, row in df.iterrows():
    if row['destination'] == 'North Station':
        df.at[index, 'destination'] = 'North+Station,+Boston,+MA,+USA'
    if row['destination'] == 'Northeastern University':
        df.at[index,'destination'] = 'Northeastern+University,+Boston,+MA,+USA'
    if row['destination'] == 'West End': 
        df.at[index,'destination'] = 'West+End,+Boston,+MA,+USA'
    if row['destination'] == 'Haymarket Square': 
        df.at[index,'destination'] = 'Haymarket+Square,+Boston,+MA,+USA'
    if row['destination'] == 'South Station': 
        df.at[index,'destination'] = 'South+Station,+Boston,+MA,+USA'
    if row['destination'] == 'Fenway': 
        df.at[index,'destination'] = 'Fenway,+Boston,+MA,+USA'
    if row['destination'] == 'Theatre District': 
        df.at[index,'destination'] = 'Theatre+District,+Boston,+MA,+USA'
    if row['destination'] == 'Beacon Hill': 
        df.at[index,'destination'] = 'Beacon+Hill,+Boston,+MA,+USA'
    if row['destination'] == 'Back Bay': 
        df.at[index,'destination'] = 'Back+Bay,+Boston,+MA,+USA' 
    if row['destination'] == 'North End': 
        df.at[index,'destination'] = 'North+End,+Boston,+MA,+USA' 
    if row['destination'] == 'Boston University': 
        df.at[index,'destination'] = 'Boston+University,+Boston,+MA,+USA'     
    if row['destination'] == 'Financial District': 
        df.at[index,'destination'] = 'Financial+District,+Boston,+MA,+USA'

In [9]:
df.head(10)

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
0,0.44,Lyft,1544952607890,"North+Station,+Boston,+MA,+USA",Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,0.44,Lyft,1543284023677,"North+Station,+Boston,+MA,+USA",Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,0.44,Lyft,1543366822198,"North+Station,+Boston,+MA,+USA",Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,0.44,Lyft,1543553582749,"North+Station,+Boston,+MA,+USA",Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,1543463360223,"North+Station,+Boston,+MA,+USA",Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL
5,0.44,Lyft,1545071112138,"North+Station,+Boston,+MA,+USA",Haymarket Square,16.5,1.0,f6f6d7e4-3e18-4922-a5f5-181cdd3fa6f2,lyft_lux,Lux Black
6,1.08,Lyft,1543208580200,"Northeastern+University,+Boston,+MA,+USA",Back Bay,10.5,1.0,462816a3-820d-408b-8549-0b39e82f65ac,lyft_plus,Lyft XL
7,1.08,Lyft,1543780384677,"Northeastern+University,+Boston,+MA,+USA",Back Bay,16.5,1.0,474d6376-bc59-4ec9-bf57-4e6d6faeb165,lyft_lux,Lux Black
8,1.08,Lyft,1543818482645,"Northeastern+University,+Boston,+MA,+USA",Back Bay,3.0,1.0,4f9fee41-fde3-4767-bbf1-a00e108701fb,lyft_line,Shared
9,1.08,Lyft,1543315522249,"Northeastern+University,+Boston,+MA,+USA",Back Bay,27.5,1.0,8612d909-98b8-4454-a093-30bd48de0cb3,lyft_luxsuv,Lux Black XL

In [10]:
for index, row in df.iterrows():
    if row['source'] == 'North Station':
        df.at[index, 'source'] = 'North+Station,+Boston,+MA,+USA'
    if row['source'] == 'Northeastern University':
        df.at[index,'source'] = 'Northeastern+University,+Boston,+MA,+USA'
    if row['source'] == 'West End': 
        df.at[index,'source'] = 'West+End,+Boston,+MA,+USA'
    if row['source'] == 'Haymarket Square': 
        df.at[index,'source'] = 'Haymarket+Square,+Boston,+MA,+USA'
    if row['source'] == 'South Station': 
        df.at[index,'source'] = 'South+Station,+Boston,+MA,+USA'
    if row['source'] == 'Fenway': 
        df.at[index,'source'] = 'Fenway,+Boston,+MA,+USA'
    if row['source'] == 'Theatre District': 
        df.at[index,'source'] = 'Theatre+District,+Boston,+MA,+USA'
    if row['source'] == 'Beacon Hill': 
        df.at[index,'source'] = 'Beacon+Hill,+Boston,+MA,+USA'
    if row['source'] == 'Back Bay': 
        df.at[index,'source'] = 'Back+Bay,+Boston,+MA,+USA' 
    if row['source'] == 'North End': 
        df.at[index,'source'] = 'North+End,+Boston,+MA,+USA' 
    if row['source'] == 'Boston University': 
        df.at[index,'source'] = 'Boston+University,+Boston,+MA,+USA'     
    if row['source'] == 'Financial District': 
        df.at[index,'source'] = 'Financial+District,+Boston,+MA,+USA'

In [11]:
df['class_hour']=None

In [12]:
df.shape

(693071, 11)

In [13]:
import datetime
#convert 13digit time stamp to datetime format
df['date_time']= pd.to_datetime(df['time_stamp']/1000, unit='s')
df['date']= df['date_time'].dt.date
df['day'] = df.date_time.dt.dayofweek
df['hour'] = df.date_time.dt.hour

In [14]:
df.head()

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name,class_hour,date_time,date,day,hour
0,0.44,Lyft,1544952607890,"North+Station,+Boston,+MA,+USA","Haymarket+Square,+Boston,+MA,+USA",5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared,None,2018-12-16 09:30:07.890000128,2018-12-16,6,9
1,0.44,Lyft,1543284023677,"North+Station,+Boston,+MA,+USA","Haymarket+Square,+Boston,+MA,+USA",11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux,None,2018-11-27 02:00:23.676999936,2018-11-27,1,2
2,0.44,Lyft,1543366822198,"North+Station,+Boston,+MA,+USA","Haymarket+Square,+Boston,+MA,+USA",7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft,None,2018-11-28 01:00:22.197999872,2018-11-28,2,1
3,0.44,Lyft,1543553582749,"North+Station,+Boston,+MA,+USA","Haymarket+Square,+Boston,+MA,+USA",26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL,None,2018-11-30 04:53:02.749000192,2018-11-30,4,4
4,0.44,Lyft,1543463360223,"North+Station,+Boston,+MA,+USA","Haymarket+Square,+Boston,+MA,+USA",9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL,None,2018-11-29 03:49:20.223000064,2018-11-29,3,3

In [15]:
for i in range(0,637976):
    if df['hour'][i]>=0 and df['hour'][i]<=3:
        df['class_hour'][i]=0
    if df['hour'][i]>=4 and df['hour'][i]<=6:
        df['class_hour'][i]=1
    if df['hour'][i]>=7 and df['hour'][i]<=9:
        df['class_hour'][i]=2   
    if df['hour'][i]>=10 and df['hour'][i]<=12:
        df['class_hour'][i]=3       
    if df['hour'][i]>=13 and df['hour'][i]<=15:
        df['class_hour'][i]=4    
    if df['hour'][i]>=16 and df['hour'][i]<=18:
        df['class_hour'][i]=5     
    if df['hour'][i]>=19 and df['hour'][i]<=21:
        df['class_hour'][i]=6    
    if df['hour'][i]>=22 and df['hour'][i]<=24:
        df['class_hour'][i]=7

C:\Users\Yash Mahajan\AppData\Local\Temp\ipykernel_7112\129741610.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['class_hour'][i]=2
C:\Users\Yash Mahajan\AppData\Local\Temp\ipykernel_7112\129741610.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['class_hour'][i]=0
C:\Users\Yash Mahajan\AppData\Local\Temp\ipykernel_7112\129741610.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['class_hour'][i]=1
C:\Users\Yash Mahajan\AppData\Local\Temp\ipykernel_7112\129741610.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['class_hour'][i]=5
C:\Users\Yash Mahajan\AppData\Local\Temp\ipykernel_7112\129741610.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['class_hour'][i]=6
C:\Users\Yash Mahajan\AppData\Local\Temp\ipykernel_7112\129741610.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['class_hour'][i]=3
C:\Users\Yash Mahajan\AppData\Local\Temp\ipykernel_7112\129741610.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['class_hour'][i]=7
C:\Users\Yash Mahajan\AppData\Local\Temp\ipykernel_7112\129741610.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['class_hour'][i]=4

In [ ]:
df.head(20)

In [ ]:
df.isna().sum()

In [ ]:
df.head(40)

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isna().sum()

In [ ]:
df.to_csv('cab_rides_project1.csv')